*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/*****************************  nevigation bar ****************************/
.navbar{
    display: flex;
    width: 100%;
    position: sticky;
    top: 0px;
    /* z-index: 5; */
    margin:auto;
    background-color: black;
}
.logo a{
    text-decoration: none;
    color: red;
    transition: all 0.3s;
}
.logo a h1{
    margin: 15px 50px;
}

.menu ul{
    display:flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 28px;
    margin-right: 100px;
    position: absolute;
    right: 15px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 20px;
    transition: 0.5s;
    font-weight: 500;
    position: relative;
}

/**************  background cover image  ***************/
.cover {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.6)) , url('https://source.unsplash.com/1600x900/?donate,charity,child,study');
    z-index: -100; 
    color: white;
}
.cover .information {
    align-items: center;
    max-width: 1000px ;    
    margin: 0 auto;
    padding-top: 100px;
}
.information h3 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 250;
}
.information h3 span {
    float: right;
    font-size: 15px;
    color: rgba(241, 156, 156, 0.8);
}
.information h2 {
    font-size: 50px;
}
.information h1 span{
    font-size: 110px;
    line-height: 100px;
    color: rgba(235, 102, 13, 0.773);
    letter-spacing: 5px;
}
.information a {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    text-decoration: none;
}

.information a button{
    all: unset;
    padding:8px 80px;
    margin: 40px 0 -50%;
    background: transparent;
    color: white;
    border: solid red 2px;
    border-radius: 20px;
    letter-spacing: 3px;    
}

.information a button:hover{
    color:black;
    background-color: aqua;
}

/************************************** Contact **********************************************/
.contact {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    padding: 125px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.6)) , url('https://source.unsplash.com/1600x900/?contact,message');
}
.contact h1 {
    color: white;
    text-align: center;
}
/* .contactcontainer {
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
} */
.contactcontainer .container {
    width: 50%;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactcontainer .container .heading {
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid white;
    margin-bottom: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,.07);
}
.heading .icon {
    padding: 0 0 0 20px;
    font-size: 20px;
    color: rgb(3, 180, 3);
}
.heading .info {
    width: 70%;
    margin: 25px auto;
    color: white;
}
.heading .info .contactinfo {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
}

/****************************** FOOTER **************************/
footer {
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    text-align: center;
    padding: 15px 0;
}
footer p {
    font-size: 14px;
}
footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
footer a:hover {
    color: white;
}
footer a strong {
    font-size: 16px;
}
